
body{
    height: 100vh;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 17%, rgba(218,219,211,1) 17%, rgba(218,219,211,1) 100%);
}

.my_vh100{
    height: calc(100vh - 210px);
}
.my_h100{
    height: calc(100% - 140px);
}
.my_w100{
    width: 100%;
}
.my_h900{
    max-height: 900px;
}
.my_h70{
    height: 70px;
}
.my_h50{
    height: 50px;
}
.my_p12{
    padding-left: 8px;
    padding-right: 20px;
}
.my_fs-12{
    font-size: 12px;
}


.my_bg-white{
    background-color: #eaeaea;
}
.my_bg-whiter{
    background-color: #ffff;
}
.my_bg-azure{
    background-color: #8edafc;
}

.my_avatar{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.my_input-group-text{
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
}
.my_form-control{
    width: 100%;
    border: 0px;
}
input:focus{
    outline: none;
}
.my_hover{
    background-color: #eeeeee;
}
.my_overflow{
    overflow-y: auto;
}

#chat{
    background-image: url("../img/mine.jpg");
}
.messaggio{
    width: fit-content;
    max-width: 300px;
    word-break: break-all;
}
.inviato{
    align-self: flex-end;
    color: white;
    background-color: #009688;
}

.ricevuto{
    background-color: rgb(160, 160, 160);
    color: white;
}

.my_white{
    color: white;
}
.my_dropDown {
    right: 0 !important;
    left: auto !important;
}