<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="my_bg">

    <div id="app">
        <div class="container  mt-1">
            <div class="row ">
                <div class="col my_bg-whiter border-end">
                    <div class="row my_h70 my_bg-white">
                        <div class="col d-flex justify-content-between ">
                            <div class="d-flex ">
                                <div class="d-flex align-items-center">
                                    <img class="my_avatar" src="./img/avatar_io.jpg" alt="">
                                </div>
                                <div class="d-flex align-items-center ">
                                    <p class="m-0">Sofia</p>
                                </div>
                            </div>
                            <div class=" d-flex fs-4">
                                <div class="d-flex align-items-center me-4">
                                    <a href=""><i class="fa-solid fa-circle-notch" style="color: #b1b1b1;"></i></a>
                                </div>
                                <div class="d-flex align-items-center me-4">
                                    <a href=""><i class="fa-solid fa-message" style="color: #b1b1b1;"></i></a>
                                </div>
                                <div class="d-flex align-items-center me-4">
                                    <a href=""><i class="fa-solid fa-ellipsis-vertical" style="color: #b1b1b1;"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row my_h70">
                        <div class="col my_bg-azure d-flex">
                            <div class="d-flex align-items-center me-3">
                                <i class="my_avatar fs-4 fa-solid fa-bell-slash d-flex justify-content-center align-items-center" style="color: #8edafc;"></i>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="row">
                                    <div>
                                        <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
                                    </div>
                                    <div>
                                        <a href="">Attiva notifiche desktop</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my_h50">
                        <div class="col d-flex">
                            <div class="d-flex align-items-center">
                                <i class="d-flex justify-content-center align-items-center my_avatar fa-solid fa-magnifying-glass" style="color: #b1b1b1;"></i>
                            </div>
                            <div class="d-flex my_w100">
                                <input v-model="search" @keyUp.enter="testovuoto" class="my_form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col my_overflow" >
                            <div v-for="(persone,i) in contatti" class="row my_h70">
                                <div class="col d-flex justify-content-between">
                                    <div class="d-flex">
                                        <div class="d-flex align-items-center my_p12">
                                            <img class="my_avatar" :src="persone.image" alt="">
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="row">
                                                <div>
                                                    <p class="m-0 fw-semibold">{{persone.nome}}</p>
                                                </div>
                                                <div>
                                                    <p class="m-0 my_fs-12 text-muted">{{persone.ultimoMessaggio}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex">
                                        <p class="my_fs-12 text-muted">{{persone.ultimoAccesso}}</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-7 " id="chat">
                    <div class="row my_bg-white ">
                        <div class="col">
                            <div class="row my_h70">
                                <div class="col d-flex justify-content-between">
                                    <div class="d-flex">
                                        <div class="d-flex align-items-center my_p12">
                                            <img class="my_avatar" src="./img/avatar_1.jpg" alt="">
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="row">
                                                <div>
                                                    <p class="m-0 fw-semibold">Michele</p>
                                                </div>
                                                <div>
                                                    <p class="m-0 my_fs-12 text-muted">Ultimo accesso oggi alle 12:00</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                    <div class=" d-flex fs-4">
                                        <div class="d-flex align-items-center me-4">
                                            <a href=""><i class="fa-solid fa-circle-notch" style="color: #b1b1b1;"></i></a>
                                        </div>
                                        <div class="d-flex align-items-center me-4">
                                            <a href=""><i class="fa-solid fa-message" style="color: #b1b1b1;"></i></a>
                                        </div>
                                        <div class="d-flex align-items-center me-4">
                                            <a href=""><i class="fa-solid fa-ellipsis-vertical" style="color: #b1b1b1;"></i></a>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my_h100 p-5" >
                        <div class="col">
                            <div v-for="(messaggi,i) in messaggioSuSchermo" class="row inviato">
                                <div class="col d-flex messaggio bg-inviato">
                                    <p class="m-0">{{messaggi.testo}}</p>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col d-flex messaggio ricevuto">
                                    <p class="m-0">adaddawadad daaadadd dadada</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row my_h70 my_bg-white">
                        <div class="col d-flex fs-4">
                            <div class="d-flex align-items-center ms-4 me-4">
                                <a href=""><i class="fa-regular fa-face-smile" style="color: #b1b1b1;"></i></a>
                            </div>
                            <div class="d-flex my_w100">
                                <input v-model="messaggio" @keyUp.enter="messaggioScritto()" class="fs-5 my_bg-white my_form-control" type="text">
                            </div>
                            <div class="d-flex align-items-center ms-4 me-4">
                                <a href=""><i class="fa-solid fa-microphone" style="color: #b1b1b1;"></i></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="./js/main.js"></script>
</body>
</html>